.partners {
    
    
    .container {
        padding-bottom: 124.72px;
        max-width: 1100px;
    }

    &__content {
        display: flex;
        column-gap: 18px;
    }

    &__content--item {
        display: flex;
        align-items: center;
    }

    p {
        font-size: 20px;
        line-height: 23.44px;
    }

    img {
        padding-right: 10px;
    }

    &__title {
        padding-bottom: 86.64px;
        text-align: center;
    }

    
}