.header {

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 44px;
    }

    @media screen and (max-width: $small) {
        .container {
            padding-top: 12px;
            padding-bottom: 12px;
            display: block;
            background: $dark;
            padding-left: 0;
        }
    }

    &__logo {

        span {
            font-size: 48px;
            line-height: 56.25px;
            color: $primary;
        }
    }

    @media screen and (max-width: $small) {
        &__logo {
            display: flex;
            justify-content: space-between;
            background: $dark;
        }

        h2 {
            color: $white;
            padding-left: 30px;
        }
    }

    &__nav {

        ul {
            display: flex;
            column-gap: 63px;
        }

        a {
            font-size: 20px;
            line-height: 23.44px;
            
        }

        a:hover {
            border-bottom: 2px solid $primary;
        }
    }

    @media screen and (max-width: $small) {

        &__nav {
            position: absolute;
            z-index: 2;
            background: $dark;
        }

        ul {
            display: block;
        }

        li {
            padding-bottom: 15px;
            padding-left: 58px;
        }

        a {
            color: $white;
        }
    }

    //toggle
    .nav-toggler {
        
        background-color: $dark;
        border-radius: 4px;
        cursor: pointer;
        border:none;
        display: none;
        margin-right: 15px;
    }

    .nav-toggler:focus {
        outline: none;
        
    }

    .nav-toggler span {
        height: 2px;
        width: 20px;
        background-color: $white;
        display: block;
        margin:auto;
        position: relative;
        transition: all 0.3s ease;
    }

    .nav-toggler.active span {
        background-color: transparent;
    }

    .nav-toggler span::before,
    .nav-toggler span::after {
        content: '';
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        background-color: $white;
        transition: all 0.3s ease;
    }

    .nav-toggler span::before {
        transform: translateY(-6px);
    }

    .nav-toggler.active span::before {
        transform: rotate(45deg);
    }

    .nav-toggler span::after {
        transform: translateY(6px);
    }

    .nav-toggler.active span::after {
        transform: rotate(135deg);
    }

    @media screen and( max-width: $small) {

        .nav-toggler {
            display: block;
        }

        .header__nav {
            width: 100%;
            padding:0;
            max-height: 0px;
            overflow: hidden;
            visibility: hidden;
            transition: all 0.5s ease;
        }

        .header__nav.open {
            visibility: visible;
        }

        .header__nav ul {
            padding:12px 15px 0;
            margin-top: 12px;
            border-top:1px solid rgba(255,255,255,0.2);
        }

        .header__nav ul li {
            display: block;
            margin:0;
        }
    }
}